mat-tab-group {
    width: 100%;
    display: inline-table;
}
table {
    width: 100%;
}
mat-row {
    height: auto;
}
mat-cell {
    padding: 16px 20px 16px 0;
}
mat-cell:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
mat-cell:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
mat-form-field {
    padding-right: 30px;
}
.mat-column-year {
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
}
.mat-column-week {
    white-space: unset !important;
    flex: 0 0 12% !important;
    width: 12% !important;
    text-align: center;
}
.mat-column-homeTeamPts {
    white-space: unset !important;
    flex: 0 0 12% !important;
    width: 10% !important;
}
.mat-column-awayTeamPts {
    white-space: unset !important;
    flex: 0 0 12% !important;
    width: 10% !important;
}
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.div-form {
    width: 100%;
    padding-left: 25px;
    padding-bottom: 25px;
    text-align: center;
}
.form {
    display: inline-block;
    text-align: left;
}